@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #fff;
  color: #222;
  font-family: "Monserrat", sans-serif;
  font-weight: 300;
}

.wrapper {
  width: 1280px;
  margin: 50px auto;
}

header .logo {
  font-weight: 600;
  font-size: 20px;
}

header ul.nav {
  float: right;
  list-style: none;
}

header ul.nav li {
  display: inline;
  margin-left: 25px;
  cursor: pointer;
}
header ul.nav li:hover {
  opacity: 0.5;
}

header .presentation {
  margin: 50px 0;
  background: url('../img/e86649e7-b65b-4c7a-84ba-0a23a8a1a56d.jpg') no-repeat;
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  position: relative;
}

header .presentation::after {
  content: "Лучшая одежда на планете";
  position: absolute;
  top: 100px;
  left: 50px;
  font-weight: 800;
  color: #fff;
  font-size: 40px;
  width: 300px;

} 